package ${packagePath}.domain.vo;

    #foreach($import in $importList)
    import $import;
    #end

import com.fasterxml.jackson.annotation.JsonFormat;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;

@Data
@AllArgsConstructor
@NoArgsConstructor
public class ${module.moduleName}Vo {

    #foreach($field in $module.fieldList)
        #if($!{field.fieldSupportConfig.supportView})
            #if($!{field.comment})
                /**
                 * ${field.comment}
                 */#end

            #if($!{field.format})
            @JsonFormat(pattern = "$!{field.format}")
            #end
        private ${field.fieldType} ${field.fieldName};

        #end
    #end
}