package ${packagePath}.domain.dto;

    #foreach($import in $importList)
    import $import;
    #end

import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;

@Data
@AllArgsConstructor
@NoArgsConstructor
public class Insert${module.moduleName}Dto {

    #foreach($field in $module.fieldList)
        #if($!{field.fieldSupportConfig.supportMaintenance})
            #if(${field.comment})
                /**
                 * ${field.comment}
                 */#end

            private $field.fieldType $!{field.fieldName};

        #end
    #end
}