package ${packagePath}.domain.dto;

#foreach($field in $module.fieldList)
#foreach($import in $importList)
#if($field.fieldSupportConfig.supportSearch)
#if($!import.contains(${field.fieldType}))
import $import;
#break
#end
#end
#end
#end
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;

@Data
@AllArgsConstructor
@NoArgsConstructor
public class Select${module.moduleName}Dto {

    #foreach($field in $module.fieldList)
        #if($!{field.fieldSupportConfig.supportSearch})
            #if($!{field.fieldSupportConfig.supportSearchRange})
                #if($!{field.comment})
                    /**
                     * ${field.comment}起始
                     */#end

                private ${field.fieldType} ${field.fieldName}Start;

                #if($!{field.comment})
                    /**
                     * ${field.comment}截止
                     */#end

                private ${field.fieldType} ${field.fieldName}End;
            #end
            #if(!$!{field.fieldSupportConfig.supportSearchRange})
                #if($!{field.comment})
                    /**
                     * ${field.comment}
                     */#end

                private ${field.fieldType} ${field.fieldName};
            #end

        #end
    #end
}